.App {
  text-align: center;
  width:100%;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.form{
    padding:0px 10px;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.listContainer{
  margin-top: 50px;
    display:flex;
  flex-direction: center;
  align-items: center;
  flex-direction: column;
  /* min-width: 300px; */
}

@media (max-width:500px){
    .todo__list{
      max-width: 500px;
      margin-top:50px;
      flex-direction: column;
      

    }
  }



.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin:0;
  margin-bottom: 50px;
  width:100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
